* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;    
    padding: 25px 25px;
    background-color: #FE642E;
}

.header h3 {
    font-size: 14pt;
    color: #FFF;
    font-weight: bold;
}